.column-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hide-mobile{
    @include media("<phone") {
        display: none;
	}
}
.width-100{
    width: 100%;
    max-width: 100%;
}
.text-center{
    text-align: center;
}
.link{
    text-decoration: underline;
    &_mantis{
        color: $mantis;
    }
}
.icon{
    &_mantis{
        color: $mantis;
    }
    &_moody-blue{
        color: $moody_blue;
    }
    &_light-blue{
        color: $light_blue;
    }
    &_light-blue{
        color: $light_blue;
    }
    &_orange{
        color: $orange;
    }
    &_lime-green{
        color: $lime_green;
    }
    &_yellow{
        color: $yellow;
    }
    &_tonys-pink{
        color: $tonys_pink;
    }
}