.input{
    height: 45px;
    border: 1px solid $white-blue;
    padding: 5px;
}
.input-earn{
    position: relative;
    font-size: 20px;
    margin-bottom: 25px;
    &__icon{
        position: absolute;
        width: 50px;
        height: 100%;
        background: $white-blue;
        text-align: center;
        vertical-align: middle;
        line-height: 45px;
        color: $mantis;
        font-size: 28px;
    }
    &__input{
        max-width: 220px;
        padding-left: 55px;
        text-align: center;
        &_width-100{
            width: 100%;
            max-width: 100%;
        }
    }
}

// styles for input type range polyfill
.range-wrapper{
    width: 100%;
    position: relative;
    &__min, &__max{
        position: absolute;
        top: -25px;
        font-size: 10px;
    }
    &__min{
        left: 0;
    }
    &__max{
        right: 0;
    }
}
.rangeslider--horizontal{
    height: 4px;
    width: 100%;
    background: $white-blue;
    position: relative;
    &:before, &:after{
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        width: 3px;
        height: 12px;
        background: $white-blue;
    }
    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }
}
.rangeslider__handle{
    top: -10px;
    touch-action: pan-y;
    background: $moody_blue;
    cursor: pointer;
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    &:before{
        content: "||";
        position: absolute;
        left: 8px;
        top: 0;
        height: 100%;
        display: block;
        text-align: center;
        font-size: 11px;
        color: $white;
    }
}
.range-block{
    margin-left: -50%;
    color: $emperor;
    position: absolute;
    white-space: nowrap;
    top: -30px;
    font-weight: 500;
    &__value{
        font-size: 20px;
    }
}
