@mixin clearfix {
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}
@mixin placeholder($color) {
	&::-moz-placeholder {
		color:$color;
		opacity: 1;
	}
	&:-ms-input-placeholder {color:$color;}
	&::-webkit-input-placeholder {color:$color;}
}