*{
	margin: 0;
	padding: 0;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
	margin: 0;
	min-width: 320px;
	background: $white_lilac;
	color:$text-color;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-family: $font-family-base;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	@include media("<phone") {
		font-size: 12px;
		line-height: 18px;
	}
}
img{border-style:none;}
input,
textarea,
select{
	color:$text-color;
	vertical-align:middle;
	font-size: 100%;
	font-family: $font-family-base;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	transition: .3s all;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding:0;
}
form,
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
blockquote,
q {quotes: none;}
q:before,
q:after {content: '';}
a{
	transition: .3s all;
	text-decoration: none;
	color: $link-color;
}
a:hover{
	color: $link-hover-color;
	text-decoration: none;
}
*::-webkit-input-placeholder{
	color:$text-color;
	opacity: 1;
}

*:-moz-placeholder{
	color:$text-color;
	opacity: 1;
}

*::-moz-placeholder{
	color:$text-color;
	opacity: 1;
}

*:-ms-input-placeholder{
	color:$text-color;
	opacity: 1;
}
a,
button,
input,
textarea,
select {
	&:focus {
		outline: none;
	}
}
input[type="search"] {
	-webkit-appearance: none;
}
.wrapper {
	position:relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	padding: 80px 0 0 320px;
	transition: padding .3s;
	@include media("<desktop_lg") {
		padding-left: 0;
	}
	@include media("<tablet") {
	}
	@include media("<phone") {
		padding-top: 48px;
	}
}
.page{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	overflow: hidden;
}
*,
*:before,
*:after{
	box-sizing: border-box;
}
.container{
	max-width: $container-desktop;
	padding: 0 ($grid-gutter-width);
	margin: 0 auto;
	width: 100%;
	@include clearfix;
	@include media("<phone") {
		padding: 0 8px;
	}
	&__fluid{
		max-width: 100%;
	}
}
.img-to-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	> img{display: none;}
}
h1,
.h1 {
	font-size: 36px;
	line-height: 1.4;
	margin: 0 0 10px;
	font-weight: 400;
	color: $emperor;
	text-align: center;
}
h2,
.h2 {
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	margin: 0 0 10px;
	color: $emperor;
}
h3,
.h3 {
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	margin: 0 0 10px;
	color: $emperor;
	@include media("<tablet") {
	}
	@include media("<phone") {
	}
}
h4,
.h4 {
	
	@include media("<tablet") {
	}
	@include media("<phone") {
	}
}
h5,
.h5 {
	
	@include media("<tablet") {
	}
	@include media("<phone") {
	}
}
h6,
.h6 {
	
	@include media("<tablet") {
	}
	@include media("<phone") {
	}
}


.row {
	&__inline-block {
		@include media('>=phone') {
			font-size: 0;
			line-height: 0;
			> [class*="col-"] {
				float: none;
				display: inline-block;
				vertical-align: top;
				font-size: $font-size-base;
				line-height: $line-height-base;
			}
		}
	}
	&__flex{
		display: flex;
		flex-direction: row;
	}
}

@include media("<desktop_lg") {}
@include media("<desktop") {}
@include media("<tablet") {}
@include media("<phone") {}