// vars
$images: '../images/';
$fonts: '../fonts/';

// fonts
$Montserrat: 'Montserrat', sans-serif;


$breakpoints: (
	phone-xs: 375px,
	phone: 768px,
	tablet: 992px,
	desktop: 1200px,
	desktop_lg: 1400px,
);

// colors
$white: #fff;
$black: #000;
$moody_blue: #7a8dcf;
$chetwode_blue: #8296DD;
$white_blue: #e4e8f5;
$ebony_clay: #2c3141;
$mantis: #93c25f;
$white_lilac: #f2f4fa;
$gray: #808080;
$emperor: #505050;
$tonys_pink: #e68787;
$light_blue: #7eb6ea;
$orange: #f5a362;
$lime_green: #c3c45c;
$yellow: #e5b84b;
$dark_blue: #4c5d9c;

$text-color: $gray;

// sizes
$grid-gutter-width: 40px;
$container-desktop: 800px + $grid-gutter-width;

$font-family-base: $Montserrat;
$font-size-base: 14px;
$line-height-base: 20px;
$link-color: $text-color;
$link-hover-color: darken($text-color, 30%);



